# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/


#System Files
.DS_Store
Thumbs.db

vendor/*
!vendor/vendor.json

tmp/*
gorm.db
coverage.txt

bak.*

# terraform files 
/terraform-ec2

# Local .terraform directories
**/.terraform/*
.terraform.*.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
